@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');


body {
	background-color : white;
	color : black;
	overflow : hidden;
	margin : 0px;
	font-family: 'Ubuntu Mono', monospace;
}

#pages {
	overflow-y: scroll;
    height: 100vh;
	scroll-snap-type: y mandatory;
}
#pages::-webkit-scrollbar { display: none; }

#pages > * {
	scroll-snap-align: center;
    box-sizing: border-box;
	min-height: 100vh;
}