
#projects {
	padding : 50px 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap : 30px;
}

#projects > .item {
    color: inherit;
	width : 100%;

    position: relative;
	opacity: 0.3;
	transition: opacity 1s;
	
	font-size : 30px;
}
#projects > .item:hover{ opacity : 1; }

#projects > .item > #project_cover { float : left; }
#projects > .item > .content_area { height : 120px; }
#projects > .item > .content_area > .name {
	float : right;
	margin : 5px;
}
#projects > .item > .content_area > .tools {
	position: absolute;
    bottom: 0;
    right: 0;
}
#projects > .item > .content_area > .tools > * {
	margin : 5px;
}