
#projects {
	padding : 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#projects > div {
	width : 1200px;
	margin : 10px;
}

#projects > div > .item {
	display: block;
    color: inherit;

    position: relative;
	opacity: 0.3;
	transition: opacity 1s;
	
}
#projects > div > .item:hover{
	opacity : 1;
}
#projects > div > .item > span {
	font-size : 30px;
	position: absolute;
    right: 0px;
    line-height: 100px;
}
#projects > div > .item > img {
}
