
#quote {
    margin: 0 auto;
    line-height: 90vh;
}

#quote > div {
	height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote > div > p {
    line-height: 20px;
    font-size: 20px;
	border-right: solid 3px white;
	white-space: nowrap;
	overflow: hidden;   
	
	animation :
		animated-text 5s steps(50,end) both,
		animated-cursor 1s steps(1,end) infinite;
}

@keyframes animated-text{
	from { width: 0; }
	to { width: 630px; }
}

@keyframes animated-cursor{
	50% { border-right-color: transparent; }
}